<div class="vkb-wrap">
    <div class="vkb-display">
    <span class="vkb-value">{{ value || '—' }}</span>
  </div>
    <div class="vkb-keys">
        <div class="vkb-row" *ngFor="let row of rows">
            <button *ngFor="let key of row" class="vkb-key"
                [class.vkb-key--action]="['⇧','⌫','✓','123','ABC','espace'].includes(key)"
                [class.vkb-key--confirm]="key === '✓'" (click)="press(key)" type="button">

                <ng-container [ngSwitch]="key">
                    <span *ngSwitchCase="'espace'">{{ 'KEYBOARD.SPACE' | translate }}</span>
                    <span *ngSwitchCase="'space'">{{ 'KEYBOARD.SPACE' | translate }}</span>
                    <span *ngSwitchCase="'مسافة'">{{ 'KEYBOARD.SPACE' | translate }}</span>
                    <span *ngSwitchCase="'⌫'">⌫</span>
                    <span *ngSwitchCase="'⇧'">⇧</span>
                    <span *ngSwitchCase="'✓'">{{ 'KEYBOARD.VALIDATE' | translate }}</span>
                    <span *ngSwitchDefault>{{ caps ? key.toUpperCase() : key }}</span>
                </ng-container>
            </button>
        </div>
    </div>
</div>