@use 'bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #F5F0E4 !important;
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

[dir="rtl"] {
  .navbar-brand {
    margin-right: 0;
    margin-left: 1rem;
  }

  .dropdown-menu-end {
    left: 0 !important;
    right: auto !important;
  }

  .ms-auto {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}